.head .header {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.header {
    color: rgb(5, 46, 8);
    font-weight: bolder;
    font-family: Verdana;
}

.portfolio {
    color: rgb(105, 56, 36);
    text-align: left;
    text-decoration: underline;
}

.list {
    background-color: lightsteelblue;
    width: 750px;
    border: 10px solid rgb(25, 26, 39);
    padding: 30px;
    margin: 20px;
}

.School.course {
    font-weight: bold;
    font-style: italic;
}

.body {
    background-size: contain;
    height: 400px;
}

.contacts {
    background-color: floralwhite;
    width: 700px;
    border: 10px solid rgb(25, 26, 39);
    padding: 30px;
    margin: 20px;
    float: right;
    text-align: left;
}